/*-- scss:defaults --*/

$primary: #63483E !default;
$presentation-title-slide-text-align: left;
$link-color: $primary;

/*-- scss:rules --*/

/* Body ----- */

:root {
  --r-selection-background-color: $primary;
  --r-link-color: $primary;
  --r-link-color-dark: $primary;
  --r-link-color-hover: $primary;
}

.footer a {
  color: $primary;
}


.medium {
  font-size: 0.85em;
}

.small {
  font-size: 0.75em;
}

/* Colors ----- */

.brandoprimary {
  color: $primary !important;
}

/* Others ----- */

.center-x {
  display: inline-block;
  text-align: center;
}

.center-xy {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90%;
}
