/* https://lingtalfi.com/bootstrap4-color-generator */

body {
  background-color: #FFFFFF;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #63483E;
}

:is(h1, h2, h3, h4, h5, h6) {
  font-family: "Open Sans", sans-serif;
}

h1 {
  font-size: 2rem;
}


/*------------------------------------
- COLOR primary
------------------------------------*/
.alert-primary {
    color: #17110e;
    background-color: #c7aea5;
    border-color: #bfa399;
}

.alert-primary hr {
    border-top-color: #b59589;
}

.alert-primary .alert-link {
    color: #000000;
}

.badge-primary {
    color: #fff;
    background-color: #63483E;
}

.badge-primary[href]:hover, .badge-primary[href]:focus {
    color: #fff;
    background-color: #43312a;
}

.bg-primary {
    background-color: #63483E !important;
}

a.bg-primary:hover, a.bg-primary:focus,
button.bg-primary:hover,
button.bg-primary:focus {
    background-color: #43312a !important;
}

.border-primary {
    border-color: #63483E !important;
}

.btn-primary {
    color: #fff;
    background-color: #63483E;
    border-color: #63483E;
}

.btn-primary:hover {
    color: #fff;
    background-color: #4d3830;
    border-color: #43312a;
}

.btn-primary:focus, .btn-primary.focus {
    box-shadow: 0 0 0 0.2rem rgba(99, 72, 62, 0.5);
}

.btn-primary.disabled, .btn-primary:disabled {
    color: #fff;
    background-color: #63483E;
    border-color: #63483E;
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #43312a;
    border-color: #3a2a24;
}

.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus, .show > .btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(99, 72, 62, 0.5);
}

.btn-outline-primary {
    color: #63483E;
    background-color: transparent;
    border-color: #63483E;
}

.btn-outline-primary:hover {
    color: #fff;
    background-color: #63483E;
    border-color: #63483E;
}

.btn-outline-primary:focus, .btn-outline-primary.focus {
    box-shadow: 0 0 0 0.2rem rgba(99, 72, 62, 0.5);
}

.btn-outline-primary.disabled, .btn-outline-primary:disabled {
    color: #63483E;
    background-color: transparent;
}

.btn-outline-primary:not(:disabled):not(.disabled):active, .btn-outline-primary:not(:disabled):not(.disabled).active, .show > .btn-outline-primary.dropdown-toggle {
    color: #fff;
    background-color: #63483E;
    border-color: #63483E;
}

.btn-outline-primary:not(:disabled):not(.disabled):active:focus, .btn-outline-primary:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(99, 72, 62, 0.5);
}

.list-group-item-primary {
    color: #17110e;
    background-color: #bfa399;
}

.list-group-item-primary.list-group-item-action:hover, .list-group-item-primary.list-group-item-action:focus {
    color: #17110e;
    background-color: #b59589;
}

.list-group-item-primary.list-group-item-action.active {
    color: #fff;
    background-color: #17110e;
    border-color: #17110e;
}

.table-primary,
.table-primary > th,
.table-primary > td {
    background-color: #bfa399;
}

.table-hover .table-primary:hover {
    background-color: #b59589;
}

.table-hover .table-primary:hover > td,
.table-hover .table-primary:hover > th {
    background-color: #b59589;
}

.text-primary {
    color: #63483E !important;
}

a.text-primary:hover, a.text-primary:focus {
    color: #43312a !important;
}
